body {
 margin: 0;


 font-family: "PT Sans Regular", Arial, sans-serif;
 font-size: 14px;
 line-height: 26px;
 font-weight: 400;
 color: #333333;
 text-transform: uppercase;

 background-color: #ffffff;
 background-position: top center;
 background-repeat: no-repeat;
}
a {
 text-decoration: none;
}
.main-navigation {
 font-size: 14px;
 line-height: 26px;
 background-color: white;
}
.site-navigation,
.social {
 list-style: none;
}
.site-navigation a {
 color:#000000
}
.site-navigation a:hover {
 color:#81b3d2
}
.site-navigation a:active {
color: rgba(255,255,255,0.3)
}
.filter{
 background-color:#81b3d2;
 color:#ffffff;
 background-image: url("img\background-mainpage-photo.jpg");
}
.filter h2{
 font-size: 16px;
 line-height: 21px;
}
input[type="submit"]:hover {
 background-color: white;
 color: black;
}
input[type="submit"] {
background-color: Transparent;
border: 1px solid white;
color:white
}
.filter-input:disabled + label {
  color:yellow;
}
.filter-results h2{
 font-size: 21px;
 line-height: 26px;
}

.filter-results li,
.filter-results p {
 font-size: 12px;
 line-height: 18px;
 list-style: none;
 color:#000000;
}
.filter-results a {
color: rgba(0, 0, 0, 0.3);
 border-bottom: 1px dotted #81b3d2;
}

.filter-results a:hover {
color: #81b3d2;
}

.filter-results a:active,
.filter-results a:focus  {
 border-bottom: none;
 color: #000000;
}
.hotels-list  {
list-style: none;
 color:#333333
}

.hotels-list h3{
font-size: 21px;
 line-height: 26px;
}

.hotels-list a:not(.more-info):not(.booking-now) {
color:#000000;
}
.hotel-option:hover a:not(.more-info):not(.booking-now) {
color:#81b3d2;
}
.hotel-option:active  a:not(.more-info):not(.booking-now) {
 color: rgba(0, 0, 0, 0.3);
}


.more-info {
 padding: 9px  ;
 color: #ffffff;
 background-color: #81b3d2;
}
.booking-now {
 padding: 9px  ;
 color: #ffffff;
 background-color: #766357;
}
.more-info:hover {
 background-color: #669ec0;
}
.more-info:active {
 background-color: #5496bd;
 color: rgba(255,255,255,0.3)
}
.booking-now:hover {
 background-color: #604e43;
}
.booking-now:active {
 background-color: #503e33;
 color: rgba(255,255,255,0.3)
}
.rating-numbers{
 padding: 9px ;
 color: #666666;
 background-color: #f2f2f2;
}
.footer-social li{
  list-style: none;
}



.academy-logo:hover {
 background-color: #81b3d2;
}
.academy-logo:focus {
 background-color: #bdbbbc;
}
