body {
 margin: 0;


 font-family: "PT Sans Regular", Arial, sans-serif;
 font-size: 14px;
 line-height: 26px;
 font-weight: 400;
 color: #333333;
 text-transform: uppercase;

 background-color: #ffffff;
 background-position: top center;
 background-repeat: no-repeat;
}
a {
 text-decoration: none;
}
.main-navigation {
 font-size: 14px;
 line-height: 26px;
 background-color: white;
}
.site-navigation,
.social {
 list-style: none;
}
.site-navigation a {
 color:#000000
}
.site-navigation a:hover {
 color:#81b3d2
}
.site-navigation a:active {
color: #black--30 rgba(0,0,0,0.3)
}


.main-photo{
 height: 501px;
 width: 1200px;
 background:
 url("background-mainpage-photo.jpg") no-repeat,
 url("polygon.svg") no-repeat;
 background-position:  50% 50% , bottom;
}
}
.intro {
 text-align: center;

 line-height: 26px;
}
.advantages-1,
.advantages-2 {
 background-color: #81b3d2;
 color: #ffffff;
 line-height: 21px;
}
.advantages-3,
.advantages-4,
.advantages-5 {
 background-color: #f2f2f2;
 line-height: 21px;
}

#check-in-date,
#check-out-date {
background-color:#f2f2f2;

}

#check-in-date:hover {
background-color:#ebebeb
}

#check-out-date:hover {
background-color:#ebebeb
}

#check-in-date:focus {
background-color:#ffffff
}

#check-out-date:hover {
background-color:#ffffff
}


button:hover {
  color: red;
}
button:active {
  color: #81b3d2;
}
.modal-booking-dates h2{
 background-color:#766357;
 color:#ffffff;
}
.modal-booking-dates h2:hover{
 background-color: #604e43;
 color:#ffffff;
}
.modal-booking-dates h2:active{
 background-color: #503e33;
 color:rgba(255,255,255,0.3);
}

.button-find{
 background-color: #81b3d2;
 color:#ffffff;
}

.button-find:hover{
background-color: #669ec0;
 color:#ffffff;
}

.button-find:active{
background-color: #5496bd;
 colorrgba(255,255,255,0.3);
}
